footer {
  .brand {
    text-align: center;
    img {
      width: 80%;
    }
  }
  .contacts {
    width: 70%;
    display: grid;
    grid-template-columns: 2/12 * 100% 2/12 * 100% 4/12 * 100% 4/12 * 100%;
    margin-bottom: 1rem;
    .contact__1,
    .contact__2 {
      a {
        font-size: 0.8rem;
      }
    }

    .contact__3 {
      form {
        display: flex;
        align-items: center;
        input {
          height: 1.4rem;
          width: 90%;
          border-radius: 0%;
          border-color: $color-3;
          border-width: 1px 0px 1px 1px;
        }
        button {
          border: black;
          background-color: black;
          color: white;
          padding: 0px 1rem;
          height: 1.4rem;
        }
        .arrow-right {
          width: 0;
          height: 0;
          border-top: 0.7rem solid transparent;
          border-bottom: 0.7rem solid transparent;
          border-left: 0.7rem solid black;
        }
      }
      a {
        text-decoration: none;
        color: $color-3;
        margin: 0.4rem;
      }
    }
    .contact__4 {
      a {
        font-size: 0.8rem;
      }
    }
  }
  .payment {
    width: 70%;
    display: flex;
    justify-content: space-between;
    color: $color-3;
  }
}
@media screen and(max-width:600px) {
  footer {
    .contacts {
      width: 90%;
      grid-template-columns: 50% 50%;
    }
    .payment{
      width: 90%;
    }
  }
}
