.login {
  margin-top: 2rem;
  .title {
    width: 70%;
    display: grid;
    grid-template-columns: 10/12 * 100% 2/12 * 100%;
    margin-bottom: 1rem;
    p {
      grid-column: 1/3;
    }
  }
  .main-content {
    width: 65%;
    > form {
      display: grid;
      grid-template-columns: 1/10 * 100% 9/10 * 100%;
      > .label {
        > * {
          margin-bottom: 2rem;
        }
        span {
          color: red;
        }
      }
      > .input {
        #name,
        #email {
          width: 100%;
          margin-bottom: 1rem;
          border-radius: 0%;
          border: solid 1px $color-5;
          height: 2rem;
        }
        button {
          width: 20%;
          height: 2rem;
        }
        #lost {
          display: inline;
        }
      }
    }
  }
}
