doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="../css/style.css")
        script(src="../js/global-variable.js", async)
        script(src="../js/global-function.js", async)
        block link
    body
        include _var
        include _mixin
        include _header
        block main-content
        include _footer