-
    var navTopItem=[
        {name: 'Tài khoản của tôi', link: 'address.html'}, 
        {name: 'Trạng thái đơn hàng', link: '#'}, 
        {name: 'Danh sách ưa thích', link: '#'}, 
        {name: 'Giỏ hàng', link: 'cart.html'}, 
        {name: 'Đặng nhập', link: 'login.html'}, 
        {name: 'Đăng ký', link: 'register.html'}, 
    ]
-
    var navMainItem = [
        {name: 'Rượu vang trắng', link: '#'}, 
        {name: 'Champagne', link: '#'}, 
        {name: 'Thông tin', link: 'introduction.html'}, 
        {name: 'Blog', link: 'blog.html'}, 
        {name: 'Liên hệ', link: 'contact.html'}, 
    ];
-
    var dropDownItem = [
        'RƯỢU NGOẠI', 
        'Rượu Chivas', 
        'Hàng độc - Rượu độc đáo', 
        'Johnnie Walker', 
        'Rượu Whisky', 
        'Rượu Remy Martin', 
        'Rượu Glenmorangie', 
    ];
-
    var gallery=[
        '../img/gallery-img-1.png',
        '../img/gallery-img-2.png',
        '../img/gallery-img-3.png',
        '../img/gallery-img-4.png',
        '../img/gallery-img-5.png',
        '../img/gallery-img-6.png',
        '../img/gallery-img-7.png',
        '../img/gallery-img-8.png',
    ];
-
    var footerContact_1 = [
        'Về chúng tôi', 
        'Giao hàng', 
        'Cảm nghĩ', 
        'Lưu trữ', 
        'Chính sách riêng tư'
  ]

-
    var footerContact_2 = [
        'Vận chuyển và trả hàng', 
        'Mua hàng an toàn', 
        'Vận quốc tế', 
        'Liên kết', 
        'Dịch vụ giảm giá'
  ]

-
    var footerContact_3 = [
        'fa fa-twitter', 
        'fa fa-google-plus', 
        'fa fa-dribbble', 
        'fa fa-linkedin', 
        'fa fa-rss'
  ]
-
    var footerContact_4 = [
        {icon:'fa fa-map-marker', text:'Tầng 4, Tòa nhà Hanoi Group Số 442 Đội Cấn, P.Cống Vị, Q. Ba Đình, Hà Nội'}, 
        {icon:'fa fa-phone', text:'(04) 6674 2332 -'},
        {icon:'fa fa-phone', text:'(04) 3786 8904'},
        {icon:'fa fa-phone', text:'(08) 6680 9686'},
        {icon:'fa fa-envelope', text:'Support@bizweb.vn'}
  ]
-
    var sideBar = [
        'RƯỢU NGOẠI', 
        'Rượu Chivas (26)', 
        'Hàng độc - Rượu độc đáo (36)', 
        'Johnnie Walker (46)', 
        'Rượu Whisky (24)', 
        'Rượu Remy Martin (16)', 
        'Rượu Glenmorangie  (11)', 
        "Rượu Ballantine's (7)", 
        'Rượu Cognac (40)', 
        'Rượu Vodka (93)', 
        'Rượu Macallan (19)', 
        'Rượu Brandy (62)', 
        'Rượu Hennessy (20)', 
        'RượuGin - Tequila - Liqueur - Rượu mùi (36)', 
        'Rượu Champagne (12)', 
        'Rượu Single malt Scotch whisky (47)', 
        'Rượu Spirits (4)', 
        'RƯỢU VANG', 
        'Rượu Vang Pháp (44)', 
        'Rượu Vang Úc (34)', 
        'Rượu Vang Mỹ (16)', 
        'Rượu Vang ChiLe (48)', 
        'Rượu Vang Philip (1)', 
        'Rượu Vang Nam Phi (20)', 
        'Rượu Vang Ý (2)'
    ]
-
    var tag=[
        'Đồng hồ',
        'Túi',
        'Phụ kiện',
        'Giày',
        'Sandal',
        'Áo sơ mi',
        'Nước hoa',
        'Trẻ em',
        'Thời trang nữ'
    ]
-
    var bestSeller=[
        {name:'RƯỢU VANG ĐÀ LẠT',link:'../img/product-9.jpg',price:'370.000',original:'480.000'},
        {name:'RƯỢU VANG ĐÀ LẠT',link:'../img/product-10.jpg',price:'370.000',original:'480.000'},
        {name:'RƯỢU VANG ĐÀ LẠT',link:'../img/product-11.jpg',price:'370.000',original:'480.000',tag:'new'},
        {name:'RƯỢU VANG ĐÀ LẠT',link:'../img/product-12.jpg',price:'370.000',original:'480.000'},
        {name:'RƯỢU VANG ĐÀ LẠT',link:'../img/product-5.jpg',price:'370.000',original:'480.000',tag:'hot'},
        {name:'RƯỢU VANG ĐÀ LẠT',link:'../img/product-6.jpg',price:'370.000',original:'480.000',tag:'hot'},
        {name:'RƯỢU VANG ĐÀ LẠT',link:'../img/product-7.jpg',price:'370.000',original:'480.000'},
        {name:'RƯỢU VANG ĐÀ LẠT',link:'../img/product-8.jpg',price:'370.000',original:'480.000',tag:'sale'}
    ]
-
    var newProduct=[
        {name:'RƯỢU VANG ĐÀ LẠT',link:'../img/product-1.jpg',price:'370.000',original:'480.000',tag:'hot'},
        {name:'RƯỢU VANG ĐÀ LẠT',link:'../img/product-2.jpg',price:'370.000',original:'480.000',tag:'sale'},
        {name:'RƯỢU VANG ĐÀ LẠT',link:'../img/product-3.jpg',price:'370.000',original:'480.000',tag:'new'},
        {name:'RƯỢU VANG ĐÀ LẠT',link:'../img/product-4.jpg',price:'370.000',original:'480.000'},
        {name:'RƯỢU VANG ĐÀ LẠT',link:'../img/product-5.jpg',price:'370.000',original:'480.000',tag:'hot'},
        {name:'RƯỢU VANG ĐÀ LẠT',link:'../img/product-6.jpg',price:'370.000',original:'480.000',tag:'hot'},
        {name:'RƯỢU VANG ĐÀ LẠT',link:'../img/product-7.jpg',price:'370.000',original:'480.000'},
        {name:'RƯỢU VANG ĐÀ LẠT',link:'../img/product-8.jpg',price:'370.000',original:'480.000',tag:'sale'}
    ]