extends module/_layout
block main-content
    main.blog.flex-column-y
        section.title
            p Trang chủ/ Blog
            h3 BLOG
            img(src="../img/arrow.png", alt="img")
        section.main-content
            +news('../img/blog-1.png')
            +news('../img/blog-2.png')
            +news('../img/blog-1.png')
            +news('../img/blog-2.png')
            +news('../img/blog-1.png')
            +news('../img/blog-2.png')
            +news('../img/blog-1.png')
            +news('../img/blog-2.png')
            +news('../img/blog-1.png')
            +news('../img/blog-2.png')
            +news('../img/blog-1.png')
            +news('../img/blog-2.png')