extends module/_layout
block link
    script(src="../js/cart.js",async)
block main-content
    main.cart
        .title
            p Trang chủ/ Sản phẩm/ Giỏ hàng
            h3 GIỎ HÀNG
            img(src="../img/arrow.png", alt="img")
        #list-cart
        #address.flex-column-y
        .wrapper-btn
            button.btn.btn-black(id="btn-buy", onclick="address()") Nhập địa chỉ
            button.btn.btn-black(onclick="clearCart()") Xóa
            button.btn.btn-black