extends module/_layout
block main-content
    main.introduction.flex-column-y
        .title
            p Trang chủ/ Giới thiệu
            h3 GIỚI THIỆU
            img(src="../img/arrow.png", alt="img")
        .main-content
            img(src="../img/home-page-sale-bg.png", alt="img")
            .text
                h3 CHÀO MỪNG ĐẾN VỚI WINE HOURSE
                P Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia omnis repudiandae, deserunt fuga obcaecati nesciunt, ex odio, delectus eos ipsa debitis qui consequuntur veniam maiores dolor aliquam autem non explicabo.